.hideme {
  display: none;
}

input {
  margin: 5px;
}

#output, #pingpongOutput, #primeOutput, #romanOutput {
  margin-top: 15px;
}

li {
  font-size: 120%;
}

#aboutMe {
  background-color: #F1C4FF;
  color: #65526B;
  margin-top: 15px;
  margin-bottom: 5px;
  padding: 7px;
}

a {
  color: #B260CC;
}

.btn {
  background-color: #DE78FF;
  margin: 2px;
}

.jumbotron {
  background-color: #6F3C7F;
  color: #F1C4FF;
}
