input {
  margin-left: 5px;
}

li {
  font-size: 120%;
}

#aboutMe {
  background-color: #F1C4FF;
  color: #65526B;
  margin-top: 15px;
  margin-bottom: 5px;
  padding: 7px;
}

a {
  color: #F1C4FF;
}

.btn {
  background-color: #DE78FF;
}

.jumbotron {
  background-color: #6F3C7F;
  color: #F1C4FF;
}
